  
@media (min-width: 34em) {
  .img {
    height: 60vh !important;
  }

}

@media (min-width: 48em) {
  .img {
    height: 75vh !important;
  }
}

@media (min-width: 62em) {
  .img {
    height: 75vh !important;
  }
}

@media (min-width: 75em) {
  .img {
    height: 75vh !important;
  }
}

.img {
  width: 60vw !important;
}