<div class="container">
  <h1 class="text-center font-weight-light mt-3">Gestión de Códigos QR</h1>
  <div class="float-right mb-3" style="width: 40%; text-align: end">
    <button
      mat-raised-button
      color="primary"
      matTooltip="Agregar un código QR"
      (click)="openDialog(true)"
    >
      <i class="material-icons">add</i>Agregar Código QR
    </button>
  </div>
  <div *ngIf="this.qrCodesService.qrCodes; else loading">
    <div class="table-responsive" style="padding: 0 3%">
      <table class="table" *ngIf="this.qrCodesService.qrCodes">
        <thead class="thead-light">
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Descripción</th>
            <th scope="col" style="text-align: center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let qr of this.qrCodesService.qrCodes">
            <td>
              <qrcode
                [qrdata]="url+ qr.qr_id"
                [elementType]="'url'"
              ></qrcode>
            </td>
            <td>{{ qr.description }} <br>
              <a [href]="url+ qr.qr_id">Link</a>
            </td>
            <td style="text-align: center">
              <button
                matTooltip="Editar código"
                mat-mini-fab
                color="primary"
                (click)="openDialog(false, qr)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                matTooltip="Eliminar código"
                mat-mini-fab
                color="warn"
                (click)="delete(qr)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div
        class="alert alert-info text-center"
        role="alert"
        *ngIf="this.qrCodesService.qrCodes.length === 0"
      >
        ¡No hay códigos QR disponibles!
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
