<ng-container *ngIf="this.loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>
<div
  style="
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
  "
>
  <div style="width: 100%; display: flex; justify-content: space-around">
    <h2 style="color: #dbb735; text-align: center; margin: auto 0">
      {{ transport.name }}
    </h2>
    <div style="display: flex; margin: auto 0; padding: 0 20px">
      <h2
        style="margin: auto"
        [style.color]="transport.is_active ? '#673ab7' : 'gray'"
      >
        {{ transport.is_active ? "Activo" : "Eliminado" }}
      </h2>
      <mat-slide-toggle
        style="width: min-content; margin-left: 3%; margin-top: 5%"
        (change)="changeEventState($transport)"
        color="primary"
        [checked]="transport.is_active"
      >
      </mat-slide-toggle>
    </div>
  </div>
  <hr style="width: 100%" />
  <form
    [formGroup]="transportServicesFG"
    class="container-fluid justify-content-center"
  >
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input
        matInput
        formControlName="name"
        matTooltip="Nombre del servicio de transporte"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Correo</mat-label>
      <input
        matInput
        formControlName="email"
        matTooltip="Correo del servicio de transporte"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Teléfono</mat-label>
      <input
        matInput
        placeholder="Formato: 8888 8888"
        formControlName="phone_number"
        matTooltip="Formato: 8888 8888"
      />
      <mat-hint align="end"></mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="categories">
        <mat-option *ngFor="let c of categories" [value]="c.category_id">
          {{ c.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 95%">
      <mat-label>Dónde Contrartarlo</mat-label>
      <textarea
        matInput
        formControlName="address"
        matTooltip="Dirección exacta para contratar el servicio de transporte"
        type="text"
        required
      ></textarea>
    </mat-form-field>
  </form>
</div>

<div class="buttonContainer">
  <button
    mat-stroked-button
    color="primary"
    [disabled]="!transportServicesFG.valid || loading"
    style="width: 40%; min-width: fit-content; margin-top: 10px"
    (click)="modifyTransportService()"
  >
    Guardar cambios
  </button>
  <button
    mat-stroked-button
    color="warn"
    [disabled]="loading"
    style="width: 40%; min-width: fit-content; margin-top: 10px"
    (click)="setData()"
  >
    Descartar cambios
  </button>
</div>
