<div style="height: 20px;">
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
</div>
<form [formGroup]="categoryFG" class="container-fluid d-flex flex-column justify-content-center" style="padding: 25px">
    <h1>Creación de Categoría</h1>
   
    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" matTooltip="Nombre de la categoría" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Tipo de categoría</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let t of types" [value]="t.id">
            {{t.name}}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="buttonContainer">
        <button mat-raised-button [disabled]="!categoryFG.valid" color="primary" (click)="onSubmit()">
            Crear Categoría
        </button>
        <button (click)="closeDialog()" mat-raised-button color="warn">
            Cerrar<mat-icon>close</mat-icon>
          </button>
    </div>
</form>