textarea {
  resize: none !important;
  height: 50px !important;
}

h1 {
  text-align: center;
  margin: 0%;
  margin-bottom: 1%;
  font-size: larger;
}

.buttonContainer {
  margin-bottom: 3%;
  display: flex;
  justify-content: space-around;
}

form {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  align-items: center;
}

mat-form-field {
  width: 100%;
  margin-right: 2.5%;
  margin-left: 2.5%;
}

.lblAtribute {
  font-size: 18px;
  font-weight: bold;
}
