<ng-container *ngIf="this.loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>
<div style="display: flex; margin-top: 20px; padding: 0 20px; flex-wrap: wrap;">
    <div style="width: 50%; min-width: 300px;">
        <div style="display: flex; justify-content: space-around;">

            <h2 style="color: #dbb735; text-align: center; margin: auto 0">{{category.name}}</h2>
            <div style="display: flex; flex-direction: column; margin: auto 0; padding: 0 20px">
                <div style="margin: auto" [style.color]="category.is_active? '#673ab7': 'gray'">
                    {{category.is_active? "Activa": "Eliminada"}}</div>
                <mat-slide-toggle style="width: min-content; margin: auto;" (change)="changeState($event)"
                    color="primary" [checked]=category.is_active>
                </mat-slide-toggle>
            </div>

        </div>

        <form [formGroup]="categoryFG" class="container-fluid d-flex flex-column justify-content-center" style="padding: 25px">

            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input formControlName="name" matInput  matTooltip="Nombre de la categoría" required>
            </mat-form-field>

            <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
                <button mat-stroked-button color="primary"  [disabled]="!categoryFG.valid || !isChanged() || loading"
                    style="width: 47%; min-width: fit-content; margin-top: 10px;" (click)="modifyCategory()" >
                    Guardar cambios
                </button>
                <button mat-stroked-button color="warn" [disabled]="loading"
                    style="width: 47%; min-width: fit-content;margin-top: 10px;" (click)="setData()">
                    Descartar cambios
                </button>
            </div>
        </form>
        
    </div>
    <div *ngIf="categoryImages.length != 0"
        style="width: 50%; display: flex; flex-direction: column; border-radius: 20px; border: solid 1.5px rgb(220, 220, 220); margin: auto; min-width: 280px;">
        <ngb-carousel class="container-fluid" (slide)="onSlide($event)">
            <ng-template *ngFor="let i of categoryImages; let index = index" [id]="'slideId_' + index" ngbSlide>              
                <img class="d-block w-100"  style="max-height: 450px !important; border-radius: 10px;" src="{{url}}{{categoryImages[index]}}"/>
            </ng-template>
        </ngb-carousel>
        <div style=" display: flex; height: 70px;">
            <div title="Añadir imagen a la categoría"
                style="width: 50%; border-top: solid 1.5px rgb(220, 220, 220); border-right: solid 0.75px rgb(220, 220, 220);">
                <label for="file-upload"  class="image-buttons" style="border-radius: 0 0 0 20px; color: #dbb735; text-align: center; padding-top:10%;" ><mat-icon>find_replace</mat-icon></label> 
                <input [disabled]="loading"  id="file-upload" (change)="uploadFile($event.target.files)" type="file" accept="image/x-png,image/gif,image/jpeg" style="display: none;" multiple/>   
            </div>
            <div title="Eliminar imagen de categoría"
                style="width: 50%; border-top: solid 1.5px rgb(220, 220, 220); border-left: solid 0.75px rgb(220, 220, 220);">
                <button [disabled]="loading" mat-button style="border-radius: 0 0 20px 0" (click)="deleteImage();"
                    class="image-buttons" color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div style="width: 50%; display: flex; justify-content: center; align-items: center;">
        <div *ngIf="categoryImages.length == 0" title="Añadir imagen a la categoría" class="noImageButton">
            <label for="file-upload"  style="width: 100%; margin: 0%; cursor: pointer; color: #dbb735; text-align: center; padding-top: 2%;"> 
                <mat-icon style="font-size: 40px; width: 40px; height: 40px; padding-top: 3%;">add_photo_alternate</mat-icon>
            </label> 
            <input [disabled]="loading"  id="file-upload" (change)="uploadFile($event.target.files)" type="file" accept="image/x-png,image/gif,image/jpeg" style="display: none;" multiple/>   
        </div>
    </div>
</div>
