<div>
    <div style="display:flex; justify-content: end; margin-top: 1rem;">
        <button mat-raised-button color="primary" class="btn-add mr-3 mt-3" style="margin:auto"
          matTooltip="Agregar solicitud de creación de evento" (click)="submit(false)">Solicitar Evento</button>
      </div>
    <div style="display: flex; flex-wrap: wrap; justify-content: space-between; margin: 1rem 0 0 0">
        <mat-form-field class="container-fluid" appearance="outline" style="width: 40%; min-width: 300px; margin: auto">
            <mat-label>Buscar por nombre de evento</mat-label>
            <input matInput [(ngModel)]="filter.name" />
        </mat-form-field>
        <mat-radio-group class="radio-button-group" color="primary" [(ngModel)]="filter.state" (change)="refresh()">
            <mat-radio-button value="1" style="color: rgb(0, 90, 0)">
                Aceptadas
            </mat-radio-button>
            <mat-radio-button value="2" style="color: rgb(160, 105, 0) ">
                Pendientes
            </mat-radio-button>
            <mat-radio-button value="3" style="color: rgb(90, 0, 0)">
                Rechazadas
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="table-responsive" style="padding: 0 3%;">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col" style="text-align: center;">Fecha de solicitud</th>
                    <th scope="col">Evento</th>
                    <th scope="col">Detalles de Evento</th>
                    <th scope="col" matTooltip="Pendiente / Aceptada / Rechazada">Estado</th>
                    <th scope="col" style="text-align: center;"> Acciones </th>
                </tr>
            </thead>
            <tbody *ngIf="!this.loading">
                <tr *ngFor="let request of eventRequests | filterBy: filter.filter">
                    <td style="text-align: center;">{{request.petition_moment | date: 'dd/MM/yyyy'}}</td>
                    <td>{{ request.name }}</td>
                    <td>
                        <button mat-stroked-button matTooltip="Detalles del evento"  (click)="submit(true, request)" style="color: rgb(82, 82, 82); font-size: 14px; ">
                            Ver Detalles
                        </button>
                    </td>
                    <td>
                        <label color="primary" style="cursor: default;"
                            [style.color]="request.petition_state == 1?  'rgb(0, 90, 0)': request.petition_state ==  2? 'rgb(160, 105, 0)': 'rgb(90, 0, 0)'">
                            {{ request.petition_state == 1? 'Aceptado' : request.petition_state ==  2? 'Pendiente': 'Rechazado' }}
                        </label>

                    </td>
                    <td class="buttonContainer">
                        <div *ngIf="request.petition_state == 1">
                            <button mat-raised-button color="warn" (click)="cancelEventRequest(request)" matTooltip="Eliminar solicitud">
                                Eliminar
                            </button>
                        </div>
                        <div *ngIf="request.petition_state == 2">
                            <button mat-raised-button color="warn" (click)="deleteEventRequest(request)" matTooltip="Cancelar solicitud">
                                Cancelar
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-container *ngIf="this.loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </ng-container>
        <!-- in case you want to show empty message -->
        <div class="alert alert-info text-center" role="alert"
            *ngIf="!this.loading && (this.eventRequests | filterBy: filter.filter).length === 0 ">
            No se encuentra ninguna solicitud a su nombre
        </div>
    </div>
</div>