<mat-tab-group>

  <mat-tab label="Perfil">
    <div class="container justify-content">
      <app-profile-info></app-profile-info>
    </div>    
  </mat-tab>

  <mat-tab label="Itinerarios favoritos">
    <div class="container justify-content">
      <h2 class="text-center font-weight-light mt-3">Ver itinerarios favoritos</h2> 
      <app-favorite-itinerary></app-favorite-itinerary>
    </div> 
  </mat-tab>

  <mat-tab label="Ofertas favoritos">
    <div class="container justify-content">
      <h2 class="text-center font-weight-light mt-3">Ver ofertas favoritos</h2> 
      <app-favorite-offer></app-favorite-offer>
    </div> 
  </mat-tab>

  <mat-tab label="Mis empresas">
    <div class="container justify-content">
      <h2 class="text-center font-weight-light mt-3">Mis empresas asociadas</h2> 
      <app-profile-companies></app-profile-companies>
    </div> 
  </mat-tab>

  <mat-tab label="Mis solicitudes de Empresas">
    <div class="container justify-content">
      <h2 class="text-center font-weight-light mt-3">Mis solicitudes de unión a empresas</h2> 
      <app-request-company-union></app-request-company-union>
    </div> 
  </mat-tab>

  <mat-tab label="Mis solicitudes de Eventos">
    <div class="container justify-content">
      <h2 class="text-center font-weight-light mt-3">Mis solicitudes de creación de eventos</h2> 
      <app-create-even-request></app-create-even-request>
    </div> 
  </mat-tab>
</mat-tab-group>


 

