<mat-tab-group>

  <mat-tab label="Perfil">
    <div class="container justify-content">
      <app-profile-info></app-profile-info>
    </div>    
  </mat-tab>

  <mat-tab label="Itinerarios favoritos">
    <div class="container justify-content">
      <h2 class="text-center font-weight-light mt-3">Ver itinerarios favoritos</h2> 
      <app-favorite-itinerary></app-favorite-itinerary>
    </div> 
  </mat-tab>

  <mat-tab label="Ofertas favoritos">
    <div class="container justify-content">
      <h2 class="text-center font-weight-light mt-3">Ver ofertas favoritos</h2> 
      <app-favorite-offer></app-favorite-offer>
    </div> 
  </mat-tab>

  <mat-tab label="Empresas">
    <div class="container justify-content">
      <h2 class="text-center font-weight-light mt-3">Mis empresas asociadas</h2> 
      <app-profile-companies></app-profile-companies>
    </div> 
  </mat-tab>
</mat-tab-group>


 

