<div *ngIf="userCompanies" style="padding: 5%;">
    <mat-form-field class="container-fluid mb-3" appearance="outline">
        <mat-label>Buscar por nombre y/o apellido</mat-label>
        <input matInput [(ngModel)]="filter.input" />
    </mat-form-field>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cédula Jurídica</th>
                    <th scope="col">Email</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Activa</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let company of this.userCompanies | filterBy: filter.filter">
                    <td>{{ company.name }}</td>
                    <td>{{ company.legal_id }}</td>
                    <td>{{ company.email? company.email: "No registrado" }}</td>
                    <td>{{ company.phone_number? company.phone_number: "No registrado" }}</td>
                    <td>
                        <section>
                            <mat-slide-toggle color="primary" disabled
                                [checked]=company.state>
                            </mat-slide-toggle>
                        </section>
                    </td>
                    <td>
                        <div style="display: flex;">
                            <button mat-stroked-button color="warn" style="min-width: fit-content; margin: auto"
                                (click)="deleteUserFromCompany(company)" matTooltip="Desasociar usuario de la empresa">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </div>
                    </td>

                </tr>

            </tbody>
        </table>
        <!-- in case you want to show empty message -->
        <div class="alert alert-info text-center" role="alert" *ngIf="this.userCompanies.length === 0">
            <span class="text-danger">{{user.name}}</span> no está asociado a ninguna empresa
        </div>

        <div class="alert alert-info text-center" style="margin: auto 5%" role="alert"
            *ngIf="!(this.userCompanies.length === 0) && (this.userCompanies | filterBy: filter.filter).length === 0">
            El usuario no está asociado a ninguna empresa con nombre que coincida con <span class="text-danger">{{filter.input}}</span> 
        </div>
    </div>
</div>