<div>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
</div>
<h1>Creación de Servicios de Transporte</h1>
<form
  [formGroup]="tsForm"
  class="container-fluid"
  style="padding: 25px"
>
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input
      matInput
      formControlName="name"
      matTooltip="Nombre del servicio de transporte"
      required
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Correo</mat-label>
    <input
      matInput
      formControlName="email"
      matTooltip="Correo del servicio de transporte"
      required
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Teléfono</mat-label>
    <input
      matInput
      placeholder="Formato: 8888 8888"
      formControlName="phone_number"
      matTooltip="Formato: 8888 8888"
    />
    <mat-hint align="end"></mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Categoría</mat-label>
    <mat-select formControlName="categories">
      <mat-option *ngFor="let c of categories" [value]="c.id">
        {{ c.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 95%;">
    <mat-label>Dónde Contrartarlo</mat-label>
    <textarea
      matInput
      formControlName="address"
      matTooltip="Dirección exacta para contratar el servicio de transporte"
      type="text"
      required
    ></textarea>
  </mat-form-field>

  <div class="buttonContainer">
    <button
      mat-raised-button
      [disabled]="!tsForm.valid"
      color="primary"
      (click)="createTransportService()"
    >
      {{
        this.authService.getUser().role_id == 1
          ? 'Crear Servicio de Transporte'
          : 'Enviar solicitud de creción'
      }}
    </button>
    <button
      (click)="closeDialog()"
      mat-raised-button
      color="warn"
      [disabled]="loading"
    >
      Cancelar<mat-icon>close</mat-icon>
    </button>
  </div>
</form>
