h1 {
  text-align: center;
  margin: 0%;
  margin-bottom: 1%;
  font-size: larger;
}

.buttonContainer {
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
}

textarea {
    resize: none !important;
}

form {
  width: 100%;
}

mat-form-field {
  width: 100%;
}
