th{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

td{
    text-align: center;
}

tr{
    font-size: 15px;
    cursor: pointer;
}

tr:hover{
    background-color: rgb(247, 247, 247);
}

button{
    margin-right: 3%;
}

.container-text-left{
    margin: 1% 0 2% 0;
}

.radio-button-group{
    width: 50%;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    margin: auto;
    padding-bottom: 1.34375em;
}

.buttonContainer{
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
}