<div
  class="container-fluid d-flex flex-column justify-content-sm-around m-0 p-1"
>
  <h1 class="text-center text-primary font-weight-light">
    Nombre del itinerario
  </h1>
  <mat-slide-toggle (change)="checked = !checked" [checked]="checked">{{
    checked ? "Habilidado" : "Deshabilitado"
  }}</mat-slide-toggle>
  <div class="container-fluid p-0">
    <h2 class="text-center text-warning font-weight-light">
      Días del itinerario
    </h2>
    <mat-form-field class="container-fluid mb-3" appearance="outline">
      <mat-label>Escriba cualquier valor para buscar</mat-label>
      <input matInput />
    </mat-form-field>
    <div class="row" cdkDropListGroup>
      <div
        class="col-sm text-center"
        *ngFor="let offerDay of offersDays; let i = index"
      >
        <strong>Día {{ i + 1 }}</strong>
        <button mat-button color="primary" (click)="deleteOfferDay(i)">
          <mat-icon>delete</mat-icon>
        </button>

        <div
          cdkDropList
          [cdkDropListData]="offerDay"
          class="example-list shadow"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="example-box"
            *ngFor="let item of offerDay; let j = index"
            cdkDrag
          >
            {{ item }}
            <button
              mat-button
              color="warn"
              (click)="deleteOfferItem(j, i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <div class="mt-2 text-center container-fluid">
          <button (click)="openDayDetails();false" color="accent" mat-raised-button>Detalles</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-5 p-0">
    <h2 class="text-center text-warning font-weight-light">
      Promociones del itinerario
    </h2>
    <mat-form-field class="container-fluid mb-3" appearance="outline">
      <mat-label>Escriba cualquier valor para buscar</mat-label>
      <input matInput />
    </mat-form-field>
    <div class="row" cdkDropListGroup>
      <div
        class="col-sm text-center"
        *ngFor="let promotionDay of promotionsDays; let i = index"
      >
        <strong>Día {{ i + 1 }}</strong>
        <div
          cdkDropList
          [cdkDropListData]="promotionDay"
          class="example-list shadow"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="example-box"
            *ngFor="let item of promotionDay; let j = index"
            cdkDrag
          >
            {{ item }}
            <button mat-button color="warn" (click)="deleteOfferDay(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
