@media (min-width: 34em) {
  .custom-dialog-add-admin {
    width: 100vw !important;
    height: 70vh !important;
  }

}

@media (min-width: 48em) {
  .custom-dialog-add-admin {
    width: 100vw !important;
  }
}

@media (min-width: 62em) {
  .custom-dialog-add-admin {
    width: 70vw !important;
    height: 75vh !important;
  }
}

@media (min-width: 75em) {
  .custom-dialog-add-admin {
    width: 65vw !important;
    height: 70vh !important;
  }
}

.custom-dialog-add-admin {
  overflow-y: auto;
}
.mat-dialog-container {
  padding: 15px !important;
}

::ng-deep .cdk-overlay-container {
  position: fixed !important;
  z-index: 100000 !important; /* set value you need */
}

.spinner{
  position: fixed;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;

}
