<div class="container-fluid mt-5 pt-3 d-flex flex-column w-100 justify-content-center">
  <div class="containner">
    <h1 class="font-weight-light text-center">Gestión de ofertas</h1>
  </div>
  <div class="container-fluid flex-row d-flex mb-2 justify-content-sm-end">
    <button (click)="openCreateOfferDialog(); false" mat-raised-button color="accent">Agregar nuevo</button>
  </div>
  <div class="container-fluid mh-50">
    <app-offers-table #datosOffersTable></app-offers-table>
  </div>
</div>