<form
  [formGroup]="serviceFG"
  class="p-0 container-fluid d-flex flex-column justify-content-center" *ngIf="this.filteredServices.length !=0; else loading"
>
  <h5 class="font-weight-light text-center">Agregar servicio a la oferta</h5>
  <hr />
  <div class="containerCentral">
    <mat-form-field appearance="fill">
      <mat-label>Seleccione un servicio para agregar</mat-label>
      <mat-select [formControl]="serviceFG.get('services')">
        <mat-option *ngFor="let c of filteredServices" [value]="c.service_id" (click)="onSubmit()">
          {{c.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="buttonContainer">
    <button (click)="onNoClick()" mat-raised-button color="warn">
        Cerrar<mat-icon>close</mat-icon>
      </button>
  </div>
</form>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>