<form
  [formGroup]="offerFG"
  class="p-0 container-fluid d-flex flex-column justify-content-center"
>
  <h5 class="font-weight-light text-center">Agregar nueva oferta</h5>
  <hr />
  <div class="containerCentral">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input [formControl]="offerFG.get('name')" matInput type="text" />
    </mat-form-field>
  
  
  
    <mat-form-field appearance="outline">
      <mat-label>Descripción</mat-label>
      <input
        [formControl]="offerFG.get('description')"
        matInput
        type="text"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Seleccione la compañia</mat-label>
      <mat-select [formControl]="offerFG.get('companies')">
        <mat-option *ngFor="let c of companies" [value]="c.company_id">
          {{c.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    
    <div  class="chip-list">
      <mat-form-field class="chip-list" appearance="outline" style="width: 100%;">
        <mat-chip-list #chipList aria-label="Services selection">
          <mat-chip class="chip"
            *ngFor="let service of allServices"
            [selectable]="selectable"
            [removable]="removable">
            {{service.name}}
            <i matChipRemove class="material-icons" (click)="remove(service)">cancel</i>
          </mat-chip>
          <input
            placeholder="Seleccione los servicios"
            #tagInput
            formControlName="services" 
            [matChipInputFor]="chipList"
            [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let c of filteredServices " [value]="c">
            {{c.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>

 
  <div class="buttonContainer">
    <button mat-raised-button [disabled]="check()" color="primary"(click)="onSubmit()">
        Crear Oferta
    </button>
    <button (click)="onNoClick()" mat-raised-button color="warn">
        Cerrar<mat-icon>close</mat-icon>
      </button>
  </div>
</form>
