<div class="container">
  <h1 class="text-center font-weight-light mt-3">Gestión de usuarios</h1>
  <div class="float-right mb-3 ">
    <button mat-fab color="primary" class="btn-add" matTooltip="Agregar un administrador" (click)="openDialogToAddAdmin()"><i class="material-icons" >add</i></button>
  </div>
  <div class="mt-3 table-responsive">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Rol</th>
          <th scope="col">Habilitar</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.name }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.rol }}</td>
          <td>
            <section>
              <mat-slide-toggle
               (change)="setAvailable(!user.habilitado,user.id)"
                color="primary"
                [checked]=user.habilitado
              >
              </mat-slide-toggle>
            </section>
          </td>
          <td *ngIf="user.estado">
            <button mat-raised-button
              matTooltip="Empresario esta registrado correctamente"
              color="primary"
              >
              Aceptado
            </button>
          </td>
          <td *ngIf="!user.estado">
              <button mat-raised-button
                matTooltip="Validar empresario"
                color="warn"

                (click)="setAcceptance(!user.estado,user.id)">
                Validar
              </button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
