<div class="container-fluid" *ngIf="dataSource; else loading">
  <mat-form-field class="container-fluid mb-3" appearance="outline">
    <mat-label>Buscar por nombre</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" />
  </mat-form-field>
  <br />
  <table
    *ngIf="dataSource"
    mat-table
    [dataSource]="dataSource"
    class="w-100 mat-elevation-z8"
  >
    <ng-container matColumnDef="position">
      <th class="text-center" mat-header-cell *matHeaderCellDef>No.</th>
      <td class="text-center" mat-cell *matCellDef="let element; let i = index">
        {{ i + 1 }}
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th class="text-center" mat-header-cell *matHeaderCellDef>Nombre</th>
      <td class="text-center" mat-cell *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>
    <ng-container class="text-center" matColumnDef="actions">
      <th class="text-center" mat-header-cell *matHeaderCellDef>Acciones</th>
      <td class="text-center" mat-cell *matCellDef="let element; let i = index">
        <button
          [routerLink]="['/itineraries/dashboard']"
          (click)="assignItineraryId(element.itinerary_id)"
          mat-stroked-button
          color="primary"
          class="mr-2"
        >
          Ver más
        </button>

        <button
          mat-icon-button
          matSuffix
          mat-button
          mat-stroked-button
          color="primary"
        >
          <mat-icon
            matTooltip="Eliminar de favoritos"
            color="primary"
            (click)="removeItineraryFavorite(element.itinerary_id, i)"
            >favorite</mat-icon
          >
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
