<div class="container">
  <h5 class="font-weight-light text-center">Recuperar Contraseña</h5>
  <br>
  <mat-spinner class="spinner" *ngIf="loading"></mat-spinner>

  <form [formGroup]="forgotPasswordForm" class="p-0 container-fluid d-flex flex-column justify-content-center"
    *ngIf="!loading && !isSendEmail">
    <p>Después de llenar este formulario revise su <span class="text-info">correo electrónico</span></p>
    <mat-form-field appearance="outline">
      <mat-label>Digite su correo electrónico</mat-label>
      <input matInput [formControl]="forgotPasswordForm.get('email')">
    </mat-form-field>
    <div class="text-center">
      <button mat-button color="primary" [disabled]="!forgotPasswordForm.valid" (click)="resetPassword()">
        <i class="material-icons">{{icon}}</i>
      </button>
    </div>
  </form>

  <form [formGroup]="changePasswordForm" class="p-0 container-fluid d-flex flex-column justify-content-center"
    *ngIf="!loading && isSendEmail">
    <p>Si <span class="text-danger">cierra</span> este formulario tendrá que hacer el proceso nuevamente</p>
    <mat-form-field appearance="outline">
      <mat-label>Digite su nueva contraseña</mat-label>
      <input matInput [type]="hide_pass ? 'password' : 'text'" [formControl]="changePasswordForm.get('password')">
      <button mat-icon-button matSuffix mat-button class="btn-eye">
        <mat-icon (click)="hide_pass = !hide_pass">{{hide_pass ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirmar contraseña</mat-label>
        <input matInput [type]="hide_newpass ? 'password' : 'text'" [formControl]="changePasswordForm.get('confirmPassword')">
        <button mat-icon-button matSuffix mat-button class="btn-eye">
          <mat-icon (click)="hide_newpass = !hide_newpass">{{hide_newpass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Digite su código</mat-label>
      <input matInput [type]="hide_code ? 'password' : 'text'" [formControl]="changePasswordForm.get('code')">
      <button mat-icon-button matSuffix mat-button class="btn-eye">
        <mat-icon (click)="hide_code = !hide_code">{{hide_code ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint>Copie el <span class="text-info">código</span> que enviamos a su correo y pegue aquí</mat-hint>
    </mat-form-field>
    <br>
    <div class="text-center">
      <button mat-button color="primary" [disabled]="!changePasswordForm.valid" (click)="resetNewPassword()">
        <i class="material-icons">{{icon}}</i>
      </button>
    </div>
  </form>
</div>
