<h1>Creación de Evento</h1>
<form [formGroup]="eventFG"  class="container">

    <div class="container">
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" matTooltip="Nombre del evento" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Costo</mat-label>
            <input matInput formControlName="cost" required>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Dirección</mat-label>
            <textarea 
                matInput 
                formControlName="address" 
                matTooltip="Dirección exacta del evento" 
                type="text"
                required></textarea>
        </mat-form-field>
    
        <mat-form-field appearance="outline" >
            <mat-label>Detalles</mat-label>
            <textarea 
                matInput 
                formControlName="detail" 
                matTooltip="Detalles del evento" 
                type="text"
                required></textarea>
        </mat-form-field>

        <div  class="chip-list">
            <mat-form-field class="chip-list" appearance="outline">
              <mat-chip-list #chipList aria-label="Categories selection">
                <mat-chip class="chip"
                  *ngFor="let category of allCategories"
                  [selectable]="selectable"
                  [removable]="removable">
                  {{category.name}}
                  <i matChipRemove class="material-icons" (click)="removeCategory(category)">cancel</i>
                </mat-chip>
                <input
                  placeholder="Seleccione las categorías"
                  #tagInput
                  formControlName="categories" 
                  [matChipInputFor]="chipList"
                  [matAutocomplete]="auto"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedCategory($event)">
                <mat-option *ngFor="let c of filteredCategories " [value]="c">
                  {{c.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
        </div>

        <div  class="chip-list">
            <mat-form-field class="chip-list" appearance="outline">
              <mat-chip-list #chipList2 aria-label="Companies selection">
                <mat-chip class="chip"
                  *ngFor="let company of allCompanies"
                  [selectable]="selectable"
                  [removable]="removable">
                  {{company.name}}
                  <i matChipRemove class="material-icons" (click)="removeCompany(company)">cancel</i>
                </mat-chip>
                <input
                  placeholder="Seleccione las compañías"
                  #tagInput2
                  formControlName="companies" 
                  [matChipInputFor]="chipList"
                  [matAutocomplete]="autoCompany"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
              </mat-chip-list>
              <mat-autocomplete #autoCompany="matAutocomplete" (optionSelected)="selectedCompany($event)">
                <mat-option *ngFor="let c of filteredCompanies " [value]="c">
                  {{c.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
        </div>

    </div>
</form>

<div class="container">
    
    <div class="toggle">
        <div style="text-align: center;">
            <label>Todo el día:</label>
            <mat-slide-toggle style="margin-left: 3%;" (change)="changeState($event)" color="primary" [checked]= "false"></mat-slide-toggle>
            <label style="margin-left: 5%;"> {{!this.allDay? "No": "Sí"}} </label>
            <mat-form-field *ngIf="this.allDay" style="width: 50%;"  appearance="outline">
                <input  matTooltip="Presione el Icono"  matInput [matDatepicker]="commonDate"  [min]="today"  placeholder="Fecha" [(ngModel)]="common_date" disabled >
                <mat-datepicker-toggle matSuffix [for]="commonDate" ></mat-datepicker-toggle>
                <mat-datepicker #commonDate disabled="false" ></mat-datepicker>
            </mat-form-field>
        </div>

        <div style=" display: flex;">
            <mat-form-field *ngIf="allDay== false" style="width: 50%; " appearance="outline">
                <input  matTooltip="Presione el Icono"  matInput [matDatepicker]="startDate" [min]="today"  placeholder="Fecha Inicial" [(ngModel)]="initial_date" disabled >
                <mat-datepicker-toggle matSuffix [for]="startDate" ></mat-datepicker-toggle>
                <mat-datepicker #startDate disabled="false" ></mat-datepicker>
            </mat-form-field>
    
            <mat-form-field *ngIf="allDay== false"  style="width: 50%; " appearance="outline">
                <input matTooltip="Presione el Icono" matInput [matDatepicker]="endDate" [matDatepickerFilter]="dateFilter" placeholder="Fecha de Finalización" [(ngModel)]="final_date" disabled >
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker  #endDate [disabled]="initial_date == undefined" [startAt]="initial_date"></mat-datepicker>
            </mat-form-field>
            
            <div *ngIf="allDay == true">
                <mat-form-field  appearance="outline" style="width: 45%;">
                    <mat-label>Hora Inicial</mat-label>
                    <input type="time" matInput [(ngModel)]="initial_time" matToolTip="Hora de inicio" >
                </mat-form-field>
               
                <mat-form-field  appearance="outline" style="width: 45%;">
                    <mat-label>Hora de finalización</mat-label>
                    <input type="time"  [disabled]="initial_time == undefined" matToolTip="Hora de finalización" matInput [(ngModel)]="final_time">
                </mat-form-field>
                <mat-hint style="padding-left: 2.5%;">Presione <mat-icon>schedule</mat-icon> para seleccionar una hora.</mat-hint>
            </div>
        </div>
        <mat-hint *ngIf="allDay== false" style="padding-left: 2.5%;">Presione <mat-icon>today</mat-icon> para seleccionar una fecha.</mat-hint>
    </div>

    <div class="color-picker">
        <label>Selecciona un color </label>
        <color-circle  (onChangeComplete)="changeComplete($event)" ></color-circle> 
    </div>
</div>

<div style="width: 100%; display: flex; flex-wrap: wrap; flex-direction: column;">
    <div class="file">
        <div class="uploadFile">
            <label for="file-upload"  style="width: 100%; margin: 0%; cursor: pointer; color: #dbb735; text-align: center; padding-top: 2%;"> Añadir Imágenes </label> 
            <input [disabled]="loading"  id="file-upload" (change)="getFiles($event)" type="file" accept="image/x-png,image/gif,image/jpeg" style="display: none;" multiple/>
        </div>
    </div>

    <mat-hint *ngIf="this.eventImages.length == 0" style="padding-left: 2.5%; color: crimson; align-self: center; font-style: italic;">Debes añadir imagenes*</mat-hint>
    <mat-hint *ngIf="this.eventImages.length != 0" style="padding-left: 2.5%; align-self: center; font-style: italic;">Si pulsa en "Añadir imágenes" nuevamente deberá seleccionar todas las imágenes.</mat-hint>

    <div *ngIf="eventImages.length != 0"
        style="max-width: 90%; display: flex; flex-direction: column; border-radius: 20px; border: solid 1.5px rgb(220, 220, 220); margin: auto; min-width: 280px;">
        <ngb-carousel class="container-fluid" (slide)="onSlide($event)">
            <ng-template *ngFor="let i of eventImages; let index = index" [id]="'slideId_' + index" ngbSlide>              
                <img class="d-block w-100" style="max-height: 450px !important; border-radius: 10px;" src="{{url}}{{eventImages[index]}}"/>
                <div class="carousel-caption">
                    <button [disabled]="loading" mat-button style="border: solid 1.5px rgb(220, 220, 220); border-radius: 10px; background-color: white;" (click)="deleteImage();"
                        class="image-buttons" color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </ng-template>
        </ngb-carousel>

    </div>
</div>

<div class="buttonContainer">
    <button mat-raised-button  [disabled]="disableDialog()" color="primary" (click)="onSubmit()">
        Continuar la Creacón
    </button>
    <button (click)="closeDialog()" mat-raised-button color="warn" [disabled]="loading">
        Cancelar<mat-icon>close</mat-icon>
    </button>
</div>

<ng-container *ngIf="this.loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>