

<form [formGroup]="eventFG"  style="padding: 25px">
    <h1>Creación de Evento</h1>

    <div class="container">
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" matTooltip="Nombre del evento" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Costo</mat-label>
            <input matInput formControlName="cost">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Dirección</mat-label>
            <textarea 
                matInput 
                formControlName="address" 
                matTooltip="Dirección exacta del evento" 
                type="text"
                required></textarea>
        </mat-form-field>
    
        <mat-form-field appearance="outline" >
            <mat-label>Detalles</mat-label>
            <textarea 
                matInput 
                formControlName="detail" 
                matTooltip="Detalles del evento" 
                type="text"
                required></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Color</mat-label>
            <input matInput formControlName="color">
        </mat-form-field>
    
        
    </div>

    <div class="buttonContainer">
        <button mat-raised-button [disabled]="!eventFG.valid" color="primary" (click)="createEvent()">
            Crear Categoría
        </button>
        <button (click)="closeDialog()" mat-raised-button color="warn">
            Cerrar<mat-icon>close</mat-icon>
          </button>
    </div>

</form>

<ng-template #loading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>