textarea{
    resize: none;
}

h1{
    text-align: center;
    margin: 0%;
    margin-bottom: 1%;
    font-size: larger;
}

.buttonContainer{
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-around;
}
 
form{
    width: 100%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

mat-form-field{
    width: 45%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.color-picker{
    width: 30%;
    padding-left: 5%;
    align-self: center;
}

.toggle{
    width: 40%;
}

.chip-list{
    width: -webkit-fill-available; 
}

.file{
    align-self: center;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}

.uploadFile{
    text-align: center;
    width: -webkit-fill-available; 
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-bottom: 2%;
    border: solid 1.5px rgb(220, 220, 220);
    border-radius: 5px;
}