.radio-button-group{
    width: 50%;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    padding-bottom: 1.34375em;
}

.dates{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

mat-form-field{
    width: 30%;
}

.star {
    position: relative;
    display: inline-block;
    font-size: 32px;
    color: #868686;
}
.filled {
    color: #f1f503;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #f1f503;
}
