<ng-container *ngIf="this.loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>

<div class="container">
    <div style="display: flex; justify-content: space-around; margin-bottom: 1em;">

        <h2 style="color: #dbb735; text-align: center; margin: auto 0">
            {{myRoute.name}}
        </h2>
        <div style="display: flex;  margin: auto 0; padding: 0 20px">
            <h2 style="margin: auto" [style.color]="myRoute.is_active? '#673ab7': 'gray'">
                {{myRoute.is_active? "Activo": "Inactivo"}}</h2>
            <mat-slide-toggle style="width: min-content; margin-left: 3%; margin-top: 5%;" (change)="changeState(myRoute, $event)"
                color="primary" [checked]=myRoute.is_active>
            </mat-slide-toggle>
        </div>
    </div>
    
    <hr style="width: 90%;">

    <form [formGroup]="trFG" class="container-fluid">
       
        <mat-form-field style="width: 80%;" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input #Name matInput formControlName="name" matTooltip="Nombre de la ruta turística" maxlength="50" required>
            <mat-hint align="end">{{Name.value.length}}/50</mat-hint>
        </mat-form-field>

        <div class="buttonContainer">
            <button mat-stroked-button color="primary"  [disabled]="disableDialog()"
                style="width: 47%; min-width: fit-content; margin-top: 10px;" (click)="modifyRoute()" >
                Cambiar Nombre
            </button>
        
            <button mat-stroked-button color="warn" [disabled]="loading"
                style="width: 47%; min-width: fit-content;margin-top: 10px;" (click)="setData(true)">
                Descartar Cambio
            </button>
        </div>
    </form>
</div>