form{
    width: 100%;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly
}

.buttonContainer{
    width: 80%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
}

.toggle {
    width: 45%;
    margin-left: 2.5%;
}

.container-text-left{
    margin-bottom: 2%;
    margin-left: 2%;
}

.container {
    margin-top: 1rem;
}
