<div class="container-fluid p-0">
  <h2 class="text-center text-warning font-weight-light">
    Días del itinerario
  </h2>
  <mat-form-field class="container-fluid mb-3" appearance="outline">
    <mat-label>Escriba cualquier valor para buscar</mat-label>
    <input matInput />
  </mat-form-field>
  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="result"
    [cdkDropListConnectedTo]="[offDay1, offDay2, offDay3]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let r of result" cdkDrag>
      {{ r }}
    </div>
  </div>
  <div class="row" cdkDropListGroup>
    <div class="col-sm text-center" id="dia1">
      <strong>Día 1</strong>
      <button mat-icon-button matSuffix mat-button class="btn-delete" (clcik)="deleteDay('dia1')">
        <mat-icon color="warn" >close</mat-icon>
      </button>
      <div
        cdkDropList
        #offDay1="cdkDropList"
        [cdkDropListData]="offersDay1"
        class="example-list shadow"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box d-flex flex-row justify-content-sm-between" *ngFor="let item of offersDay1" cdkDrag>
          <span>{{item}}</span>
          <button mat-icon-button matSuffix mat-button class="btn-delete ">
            <mat-icon color="warn" >delete</mat-icon>
          </button>

        </div>
      </div>
    </div>
    <div class="col-sm text-center" id="dia2">
      <strong>Día 2</strong>
      <button mat-icon-button matSuffix mat-button class="btn-delete " (clcik)="deleteDay('dia2')">
        <mat-icon color="warn" >close</mat-icon>
      </button>
      <div
        cdkDropList
        #offDay2="cdkDropList"
        [cdkDropListData]="offersDay2"
        class="example-list shadow"
        (cdkDropListDropped)="drop($event)"
      >
      <div class="example-box d-flex flex-row justify-content-sm-between" *ngFor="let item of offersDay2" cdkDrag>
        <span>{{item}}</span>
        <button mat-icon-button matSuffix mat-button class="btn-delete" (click)="deleteOffert(item,2)">
          <mat-icon color="warn" >delete</mat-icon>
        </button>
      </div>
      </div>
    </div>
    <div class="col-sm text-center" id="dia3">
      <strong>Día 3</strong>
      <button mat-icon-button matSuffix mat-button class="btn-delete " (clcik)="deleteDay('dia3')">
        <mat-icon color="warn" >close</mat-icon>
      </button>
      <div
        cdkDropList
        #offDay3="cdkDropList"
        [cdkDropListData]="offersDay3"
        class="example-list shadow"
        (cdkDropListDropped)="drop($event)"
      >
      <div class="example-box d-flex flex-row justify-content-sm-between" *ngFor="let item of offersDay3" cdkDrag>
        <span>{{item}}</span>
        <button mat-icon-button matSuffix mat-button class="btn-delete" (click)="deleteOffert(item,3)">
          <mat-icon color="warn" >delete</mat-icon>
        </button>
      </div>
      </div>
    </div>
  </div>
</div>
