.buttonContainer{
    display: flex;
    justify-content: space-around;;
}

.dates{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star {
    position: relative;
    display: inline-block;
    font-size: 32px;
    color: #868686;
}
.filled {
    color: #f1f503;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #f1f503;
}