form{
    width: 100%;
}

h1{
    text-align: center;
    margin: 0%;
    margin-bottom: 1%;
    font-size: larger;
}

.buttonContainer{
    margin-top: 2%;
    display: flex;
    justify-content: space-around;;
}

mat-form-field{
    width: 100%;
}

.dates{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.chip-list{
    width: -webkit-fill-available; 
}