<mat-tab-group>
    <mat-tab label="Detalles">
        <app-company-details *ngIf="company; else loadingCompany" [company]="company"></app-company-details>
    </mat-tab>
    <mat-tab label="Ubicación">
        <app-company-map *ngIf="company; else loadingCompany" [company]="company"></app-company-map>
    </mat-tab>
    <mat-tab label="Usuarios">
        <app-company-users *ngIf="company; else loadingCompany" [company]="company"></app-company-users>
    </mat-tab>
    <mat-tab *ngIf="_auth.getUser().role_id === 1" label="Solicitudes de unión a la empresa">
        <app-company-requests *ngIf="company; else loadingCompany" [company]="company"></app-company-requests>
    </mat-tab>
</mat-tab-group>

<ng-template #loadingCompany>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
