<div class="container"  >
    <h1 class="text-center font-weight-light mt-3">Gestión de publicaciones <span style="cursor: pointer;" (click)="openDialog()" class="material-icons">
      help_outline
      </span></h1>
    <mat-spinner style="margin: auto; margin-top: 10px;" class="spinner " *ngIf="!this.socialDB.posts && !this.socialDB.pages && !this.userManagmentService.users"></mat-spinner>
    <div *ngIf="this.socialDB.posts && this.socialDB.pages && this.userManagmentService.users">
     
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Página</th>
              <th scope="col">Usuario</th>
              <th scope="col">Empresa</th>
              <th scope="col">Creación</th>
              <th scope="col">Publicación</th>
              <th scope="col">Actualización</th>
              
              <th scope="col">Admin</th>
           
              
              <th scope="col">Vista</th>
              
              
            </tr>
          </thead>
          <tbody>
            <tr #rowRef *ngFor="let post of this.socialDB.posts">

              
              <td>{{ this.socialDB.getPageObject(post.website_id).name }}</td>
              <td>{{ getUserObject(post.user_id).info.name }}</td> 
              <td>{{ getUserObject(post.user_id).info.businessName  }}</td>
              <td>{{ getPostDateSplit(post.creation_date)[0] }}</td>
              <td>{{ post.publication_date.substring(0, 10) }}</td>
              <td>{{ post.update_date }}</td>
              
              
             
              
              <td id={{post.post_id}} *ngIf="!post.is_posted && !post.is_active">
                <button  mat-raised-button (click)='pendingPostAccepted(post.post_id)' style="display: block; margin-bottom: 3px;" color="primary">
                  Publicar
                </button>

                <button  (click)='deletePendingPostService(post.post_id)' mat-raised-button  style="color: white; background: #ff3333;">
                  Eliminar
                </button>

              </td>
              <td *ngIf="!post.is_posted && post.is_active">
                <button  mat-raised-button  style="display: block; margin-bottom: 3px;" color="primary" disabled>
                  Publicar
                </button>

                <button mat-raised-button  style="color: white; background: #fd4b4b;" disabled>
                  Eliminar
                </button>

              </td>

              <td *ngIf="post.is_posted">
                <button  (click)="getFacebookFeedback(post.post_id)" mat-raised-button  color="primary">
                  FeedBack
              </button>
              </td>




              <td id={{post.post_id}}>
                <button  (click)="getPostViewData(post.post_id)" mat-raised-button matTooltip="example" color="primary">
                  Ver post
                </button>
              </td>
            
            </tr>
  
          </tbody>
        </table>
        
        
        
      </div>
      <mat-paginator  [length]="this.socialDB.postsCount"
              [pageSize]="paginatorPostsPageZise"
              [pageSizeOptions]="[5,10,20]"
              [pageIndex]="paginatorPostListIndex"
              (page)="pageEvent = loadPaginatorChanges($event)">
        </mat-paginator>
    </div>

     <!--in case the post array is not ready-->
      <mat-spinner style="margin: auto; margin-top: 10px;" class="spinner " *ngIf="!this.socialDB.posts && !this.socialDB.pages && !this.userManagmentService.users"></mat-spinner>



      <!--
    post selected view
  -->
  <div class="loadSelectecPost" *ngIf='watchPostDisplay'>


    <div (click)='hidePostSelected()' class="close_post_view">
      
    </div>

    

    <div class="post_info">
      <p class="text-center">
      <span> <b>Página:</b> </span> {{ postview_selectec.pageName }} <br>
      <span> <b>Posteado:</b> </span> {{ postview_selectec.postedPost }} <br>
      <span> <b>Eliminado:</b> </span> {{ postview_selectec.deletePost }} <br>
      <span> <b> Email:</b> </span> {{ postview_selectec.userEmail }} <br> 
      <span> <b> Usuario:</b> </span> {{ postview_selectec.userName }} <br> 
      <span> <b> Rol:</b> </span> {{ postview_selectec.userRole }} <br> 
      <span> <b> Creado: </b> </span> {{ postview_selectec.creationDate.substring(0, 10) }} <br>
      <span> <b> Publicado: </b> </span> {{ postview_selectec.publicationDate.substring(0, 10) }} <br> 
      <span> <b> Fecha para FeedBack: </b> </span> {{ postview_selectec.getDataDate.substring(0, 10) }} <br>
      </p>
     </div>
  
    <div class="post-img">
      <img [src]="postview_selectec.imgSrc" alt="Imagen del post">
    </div>
    
    <div class="postText">
      <p> {{ postview_selectec.postTxt }} </p>
    </div>

    <br>


    <div class="container">
      
     <table class="table table_icons">
      <tr>
        <td> <img src="/assets/Facebook_reactions/like-img.jpg" alt=""> </td>
        <td> <img src="/assets/Facebook_reactions/love-img.jpg" alt=""> </td>
        <td> <img src="/assets/Facebook_reactions/haha-count.jpg" alt=""> </td>
        <td> <img src="/assets/Facebook_reactions/sad-count.jpg" alt=""> </td>
        <td> <img src="/assets/Facebook_reactions/angry-count.jpg" alt=""> </td>
        <td> <img src="/assets/Facebook_reactions/wow-count.jpg" alt=""> </td>
      </tr>
      <tr>
        <td>  {{ postview_selectec.like_count }} </td>
        <td>  {{ postview_selectec.love_count }} </td>
        <td>  {{ postview_selectec.haha_count }} </td>
        <td>  {{ postview_selectec.sad_count }} </td>
        <td>  {{ postview_selectec.angry_count }} </td>
        <td>  {{ postview_selectec.wow_count }} </td>
      </tr>
     
       
    </table>
    
    </div>
     <span>Para obtener las reacciones actualizadas se requiere obtener los metadatos de facebook </span> 
    


    


  
  

  </div>


  <!--to select the page to post pending post-->
  <div *ngIf="pageListValidationShow" class="pageValidation">

    <div class="blocker" (click)="closePageSelect()"></div>
    
    <div class="validationContainer">
      <h3>Selecciona una página</h3>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="pendingPostS">
        <mat-radio-button class="example-radio-button" *ngFor="let item of listPageValidation" [value]="item">
          {{item.name}}
        </mat-radio-button>
      </mat-radio-group>
      
      <button (click)="closePageSelect()" type="button" class="btn btn-warning">Cancelar</button>

      <button *ngIf="targetMethod" (click)="postPendingPostSelected()" type="button" class="btn btn-primary">Publicar</button>
      <button *ngIf="!targetMethod" (click)="getLikesCommentsFacebook()" type="button" class="btn btn-primary">Obtener</button>

    </div>
    
</div>


  </div>

  