<div class="container-fluid d-flex flex-column justify-content-sm-center">
  <h4 class="text-muted text-center font-weight-light">
    Introduzca los valores a filtrar
  </h4>
  <small class="text-muted"><i>Deje en blanco los campos sobre los que no desea filtrar</i></small>
  <hr>
  <mat-form-field appearance="fill">
    <mat-label>Duración</mat-label>
    <input [(ngModel)]="filters.duration" matInput />
    <mat-icon matSuffix>access_time</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Precio total</mat-label>
    <input [(ngModel)]="filters.totalPrice" matInput />
    <mat-icon matSuffix>attach_money</mat-icon>
  </mat-form-field>
  <mat-form-field *ngIf="categories" appearance="fill">
    <mat-label>Categoría</mat-label>
    <mat-select [(ngModel)]="filters.category">
      <mat-option *ngFor="let c of categories" [value]="c.category_id">
        {{c.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="groupTypes" appearance="fill">
    <mat-label>Tipo de grupo</mat-label>
    <mat-select [(ngModel)]="filters.groupType">
      <mat-option *ngFor="let g of groupTypes" [value]="g.group_type_id">
        {{g.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="container-fluid text-center">
    <button (click)="submit(); false" mat-raised-button color="primary"><mat-icon>check</mat-icon></button>
  </div>
</div>
