<div class="container">
    <h1 class="text-center font-weight-light mt-3">Gestión de Preguntas Frequentes</h1>

    <div class="float-right mb-3 " style="width: 40%; text-align: end;">
        <button mat-raised-button color="primary" matTooltip="Agregar una pregunta" (click)="openCreateQuestionDialog()">
          <i class="material-icons">add</i>
          {{this.authService.getUser().role_id === 1? 'Agregar Pregunta' : 'Solicitar Pregunta'}}
        </button>
    </div>

    <div style="display: flex; flex-wrap: wrap; justify-content: space-between; margin: 2rem 0 0 2rem">
        <mat-radio-group class="radio-button-group" color="primary" [(ngModel)]="frequentQuestionService.filter.is_active" (change)="refresh()">
            <label>Activo/Inactivo</label>
            <mat-radio-button value="0" style="color: rgb(103,58,183);">
                Todas
            </mat-radio-button>
            <mat-radio-button value="1" style="color: rgb(0, 90, 0)">
                Activas
            </mat-radio-button>
            <mat-radio-button value="2" style="color: rgb(90, 0, 0)">
                Inactivas
            </mat-radio-button>
        </mat-radio-group>
        <mat-radio-group class="radio-button-group" color="primary" [(ngModel)]="frequentQuestionService.filter.state" (change)="refresh()">
            <label>Estado</label>
            <mat-radio-button value="0" style="color: rgb(103,58,183);">
                Todas
            </mat-radio-button>
            <mat-radio-button value="1" style="color: rgb(0, 90, 0)">
                Aceptadas
            </mat-radio-button>
            <mat-radio-button value="2" style="color: rgb(160, 105, 0) ">
                Pendientes
            </mat-radio-button>
            <mat-radio-button value="3" style="color: rgb(90, 0, 0)">
                Rechazadas
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <div *ngIf="this.frequentQuestionService.frequentQuestions; else loading">
        <div class="table-responsive" style="padding: 0 3%;">
            <table class="table allquestions" *ngIf="this.frequentQuestionService.frequentQuestions">
            <thead class="thead-light">
                <tr>
                    <th style="width: 50%;" scope="col">Pregunta</th>
                    <th style="width: 15%; text-align: center;" scope="col">Estado</th>
                    <th style="text-align: center;" *ngIf="authService.getUser().role_id === 1" scope="col">Aceptar/Rechazar</th>
                    <th style="text-align: center;" scope="col">Activar/Desactivar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fq of this.frequentQuestionService.frequentQuestions">
                    <td style="width: 50%;">
                        <mat-accordion>
                            <mat-expansion-panel hideToggle>
                              <mat-expansion-panel-header style="height: auto !important;">
                                    <mat-panel-title style="margin: 0">
                                        <mat-card class="my-card">
                                            <textarea class="textInfo" matInput disabled>{{fq.question}}</textarea>
                                        </mat-card>
                                    </mat-panel-title>
                              </mat-expansion-panel-header>
                                <label>Respuesta</label>
                                <mat-card class="my-card">
                                    <textarea class="textInfo" style="height: 90px;" matInput disabled>{{fq.answer}}</textarea>
                                </mat-card> 
                            </mat-expansion-panel>
                        </mat-accordion>
                    </td>
                    <td style="width: 15%; text-align: center;">
                        <label color="primary" style="cursor: default;" [style.color]="fq.state == 1?  'rgb(0, 90, 0)': fq.state ==  2? 'rgb(160, 105, 0)': 'rgb(90, 0, 0)'">
                            {{ fq.state == 1? 'Aceptado' : fq.state ==  2? 'Pendiente': 'Rechazado' }}
                        </label>
                    </td>
                    <td *ngIf="authService.getUser().role_id === 1" style="text-align: center;" >
                        <div style="display: flex; justify-content: space-around; flex-wrap: wrap;" *ngIf="fq.state == 2">
                            <button mat-stroked-button color="primary" class="acceptBtn" (click)="changeStateRequest(fq, 1)" matTooltip="Aceptar pregunta">
                              <mat-icon>done</mat-icon>
                            </button>
                            <button mat-stroked-button color="warn" class="denyBtn" (click)="changeStateRequest(fq, 3)"
                              matTooltip="Rechazar pregunta">
                              <mat-icon>clear</mat-icon>
                            </button>
                          </div>
                    </td>
                    <td style="text-align: center;">
                        <section (click)="$event.stopPropagation()">
                            <mat-slide-toggle (change)="changeActive(fq, $event)" color="primary"
                              [checked]= fq.is_active>
                            </mat-slide-toggle>
                          </section>
                    </td>
                </tr>
            </tbody>   
            </table>
            <div class="alert alert-info text-center" role="alert" *ngIf="this.frequentQuestionService.frequentQuestions.length === 0">
              ¡No hay preguntas disponibles<span class="text-danger"></span>!
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

