textarea{
    resize: none;
}

.buttonContainer{
    display: flex;
    justify-content: space-around;
}
 
form{
    width: 100%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

mat-form-field{
    width: 45%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.toggle,.color-picker{
    width: 45%;
    margin-left: 2%;
}

.chip-list{
    width: 95%;
}

.map {
    height: 500px;
    padding: 0;
    margin: auto
}

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}

#exit{
    float: right;
    background-color: transparent;
}