<div *ngIf="companyUsers" style="padding: 5%;">
  <mat-form-field class="container-fluid mb-3" appearance="outline">
    <mat-label>Buscar por nombre y/o apellido</mat-label>
    <input matInput [(ngModel)]="filter.input" />
  </mat-form-field>
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Email</th>
          <th scope="col">Estado del usuario</th>
          <th scope="col" style="text-align: center;">Desasociar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of this.companyUsers | filterBy: filter.filter">
          <td>{{ user.name }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>
            <section>
              <mat-slide-toggle color="primary" [checked]="user.available && user.state" disabled>
              </mat-slide-toggle>
            </section>
          </td>
          <td>
            <div style="display: flex;">
              <button mat-stroked-button color="warn" style="min-width: fit-content; margin: auto"
                (click)="deleteUserFromCompany(user)" matTooltip="Desasociar usuario de la empresa">
                <mat-icon>clear</mat-icon>
              </button>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
    <!-- in case you want to show empty message -->
    <div class="alert alert-info text-center" role="alert" *ngIf="this.companyUsers.length === 0">
      La empresa <span class="text-danger">{{company.name}}</span> no tiene ningún usuario asociado
    </div>

    <div class="alert alert-info text-center" style="margin: auto 5%" role="alert"
      *ngIf="!(this.companyUsers.length === 0) && (this.companyUsers | filterBy: filter.filter).length === 0">
      Ningún usuario coincide con nombre y/o apellido <span class="text-danger">{{filter.input}}</span>
    </div>
  </div>
</div>