<div style="height: 20px;">
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
</div>
<h1>Creación de la Ruta Turística</h1>

<form [formGroup]="trFG" class="container-fluid">
   
    <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input #Name matInput formControlName="name" matTooltip="Nombre de la ruta turística" maxlength="50" required>
        <mat-hint align="end">{{Name.value.length}}/50</mat-hint>
    </mat-form-field>

    <div  class="chip-list">
        <mat-form-field class="chip-list" appearance="outline">
          <mat-chip-list #chipList aria-label="Offers selection">
            <mat-chip class="chip"
              *ngFor="let offer of allOffers"
              [selectable]="selectable"
              [removable]="removable">
              {{offer.name}}
              <i matChipRemove class="material-icons" (click)="removeOffer(offer)">cancel</i>
            </mat-chip>
            <input
              placeholder="Seleccione las ofertas asociadas"
              #tagInput
              formControlName="offers" 
              [matChipInputFor]="chipList"
              [matAutocomplete]="auto"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedOffer($event)">
            <mat-option *ngFor="let o of filteredOffers " [value]="o">
              {{o.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
    </div>
   
</form>

<div class="buttonContainer">
    <button mat-raised-button [disabled]="!trFG.valid || allOffers.length === 0 || loading" color="primary" (click)="onSubmit()">
        <mat-icon>add</mat-icon>Crear Ruta Turística
    </button>
    <button (click)="closeDialog()" mat-raised-button color="warn">
        Cerrar<mat-icon>close</mat-icon>
    </button>
</div>